<div class="map"
  style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class = "card-moped-container-index">
    <% @mopeds.each do |moped| %>
      <div class="card-moped-index" id=<%="anchor-#{moped.id}"%>>
        <div class="card-moped-index-infos">
        <%= image_tag "#{moped.image_url}", height: 100, class: "moped-image"%>
          <h5><%= link_to moped.name, moped_path(moped) %></h5>
          <p>Price: £<%= moped.price %></p>
          <p><%= moped.address %></p>
          <p>Owned by <%= moped.user.first_name %></p>
        </div>
      </div>
    <% end %>
</div>
