<br>
<br>
<br>
<h1>My mopeds</h1>
<br>

<div class="btn-add-moped">
    <%= link_to "Add a new moped", new_moped_path, class: "btn btn-success" %>
</div>

<% @my_mopeds.each do |moped| %>
  <div class="container"></div>
    <div class="card-booking">
      <img src="/open-component/images/vespa.jpg"/>
      <div class="card-booking-moped-infos">
        <div>
          <h2><%= link_to moped.name, moped_path(moped) %></h2>
          <p><%= moped.description %></p>
        </div>
        <div>
          <% if moped.bookings.nil? %>
            <p>No bookings yet</p>
          <% else %>
          <p>Bookings:</p>
            <% moped.bookings.each do |booking|%>
              <h2> <%= booking.start_date %> - <%= booking.end_date %></h2>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
