<h1>Mopeds</h1>
<h1>Moped Details</h1>
<p><strong>Name:</strong> <%= @moped.name %></p>
<p><strong>Color:</strong> <%= @moped.color %></p>
<p><strong>Price:</strong> <%= @moped.price %></p>
<p><strong>Description:</strong> <%= @moped.description %></p>
<p><strong>Number of Passengers:</strong> <%= @moped.n_of_passengers %></p>

<% if @previous_moped %>
  <%= link_to "Back", moped_path(@previous_moped) %>
<% end %>

<% if @next_moped %>
  <%= link_to "Next", moped_path(@next_moped) %>
<% end %>

<%= link_to "Return to home", root_path %>

<p>Moped <%= @moped.id %> out of <%= @total_mopeds %></p>


<%= simple_form_for [@moped, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :moped_id, value: @moped.id %>
  <%= f.submit "Book" %>
<% end %>
