<h1>Mopeds#show</h1>
<p>Find me in app/views/mopeds/show.html.erb</p>
<h1>Moped Details</h1>
<p><strong>Name:</strong> <%= @moped.name %></p>
<p><strong>Color:</strong> <%= @moped.color %></p>
<p><strong>Price:</strong> <%= @moped.price %></p>
<p><strong>Description:</strong> <%= @moped.description %></p>
<p><strong>Number of Passengers:</strong> <%= @moped.n_of_passengers %></p>

<% if @previous_moped %>
  <%= link_to "Back", moped_path(@previous_moped) %>
<% end %>

<% if @next_moped %>
  <%= link_to "Next", moped_path(@next_moped) %>
<% end %>

<%= link_to "Return to home", root_path %>
<%= link_to "Edit", edit_moped_path(@moped) %> <!-- Add this line -->
<%= link_to "Delete", moped_path(@moped), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>




<p>Moped <%= @moped.id %> out of <%= @total_mopeds %></p>
