<h1>Bookings#my_bookings</h1>
<p>Find me in app/views/bookings/my_bookings.html.erb</p>

<h4>Mopeds I have booked</h4>

<% @my_bookings.each do |booking| %>
  <div class="container"></div>
    <div class="card-booking">
      <img src="/open-component/images/vespa.jpg"/>
      <div class="card-booking-moped-infos">
        <div>
          <h2><%= booking.moped.name %></h2>
          <p><%= booking.moped.description %></p>
        </div>
        <div>
          <h2><%= booking.start_date%> - <%= booking.end_date %></h2>
        </div>
      </div>
    </div>
  </div>
<% end %>


<h4>Mopeds I have rented out</h4>

<% @my_mopeds.each do |moped| %>
  <div class="container"></div>
    <div class="card-booking">
      <img src="/open-component/images/vespa.jpg"/>
      <div class="card-booking-moped-infos">
        <div>
          <h2><%= moped.name %></h2>
          <p><%= moped.description %></p>
        </div>
        <div>
          <% moped.bookings.each do |booking|%>
          <h2> <%= booking.start_date %> - <%= booking.end_date %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
