<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://productiontickets.blob.core.windows.net/presentationfiles/b390661e-cc44-4f4e-b79b-dd4baf33fdcd/original.jpg?sv=2018-03-28&sr=b&sig=quWm0quspDfob2eEthP8KGsBDHqUV7fkpwkx6oZS%2Fv4%3D&se=2023-05-15T23%3A11%3A35Z&sp=r&rsct=&rscd=inline%3Bfilename%3Db390661e-cc44-4f4e-b79b-dd4baf33fdcd.jpg)">
    <h1><strong>Motorino</strong>, let's ride!</h1>
    <p>Challenge the traffic. Discover an exciting way to explore the world.</p>
    <a class="btn btn-flat" href="#">Choose a date</a>
  </div>
</div>

<div class="card-moped">
  <div class="card-moped-infos">
    <div>
      <h2>Mopeds</h2>
      <p><% @mopeds.each do |moped| %>
            <%= moped.name %>
            <%= moped.color%>
            <%= moped.description%>
            <%= moped.n_of_passengers%>
            <h2 class="card-moped-pricing">£<%= moped.price %></h2>
            <h3 class="card-moped-owner"><%= moped.user.fist_name %>
          <% end %></p>
    </div>
  </div>
</div>
