<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ">
    <h1><strong>Motorino</strong>, let's ride!</h1>
    <p>Challenge the traffic. Discover an exciting way to explore the world.</p>
    <a class="btn btn-flat" href="#">Choose a date</a>
  </div>
</div>

<h2>Mopeds</h2>


<ul><% @mopeds.each do |moped| %>
  <div class="card-moped flex-container">
    <div class="card-moped-infos flex-item">
      <li>Name: <%= moped.name %></li>
      <li>Color: <%= moped.color%></li>
      <li>Description: <%= moped.description%></li>
      <li>No of passengers <%= moped.n_of_passengers%></li>
      <li>Price: £<%= moped.price %></li>
      <li>Owned by <%= moped.user.first_name %></li>
      <%= link_to "See more details", moped_path(moped), class: "btn btn-flat" %>
    </div>
  </div>
<% end %></ul>
